@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.img-container{
    aspect-ratio: 1;
    height: 30rem;
    /* background: yellow; */
    box-shadow: 0 0 1.5px black,
                0 0 50px white,
                0 0 100px white;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.img-container:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgb(55, 72, 75),
                0 0 20px 5px rgb(55, 72, 75);
    cursor: pointer;
}

.img-container::before, .img-container::after{
    content: '';
    position: absolute;
    background-color: white;
    height: 70%;
    aspect-ratio: 1;
    z-index: -1;
    opacity: 0.5;
    border-radius: 50%;
}

.img-container::before{
    animation: pulse 2s ease-in-out infinite;
}

.img-container::after{
    animation: pulse 2s 1s ease-in-out infinite;
}

body{
    background: url('../assets/background.jpg') no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-container{
    height: 85vh;
    width: 70vw;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.head-text{
    height: 10%;
    width: 90%;
    background: rgba(0, 128, 128, 0.221);
    display: flex;
    font-family: "Audiowide", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 1rem;
}

.body-container{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container{
    height: 100%;
    width: 100%;
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text-container > h2{
    font-family: "DM serif text", serif; 
    letter-spacing: 0.2rem;
    font-size: 3rem;
}

.text-container > p{
    /* background: tomato; */
    font-family: "Lexend", serif;;
    width: 80%;
    font-size: 2rem;
}

.btn{
    height: 3.5rem;
    width: 15rem;
    outline: none;
    
    border-radius: 1.5rem;
    border: 3px solid white;
    font-family: "Audiowide", serif;
    font-size: 1.5rem;
    transition: all 0.5s;
}

.btn:hover{
    cursor: pointer;
    background-color: #F8F9FA;
    box-shadow: 0 0 5px white;
    transform: scale(1.05);
    font-size: 1.42rem;
}

.form-background{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .275);
    backdrop-filter: blur(25px);
    border-radius: 2rem;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.2);
    display: flex;
}

.form-container{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    transition: opacity 0.75s ease-in-out;
}

.form-container > .head{
    height: 25%;
    /* background-color: #0056D2; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.75rem;
    border-bottom: 3px solid #f8f9fa76;
}

.form-container > .head > h1{
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-size: 2.25rem;
}

.form-container > .head > h2{
    font-family: "Lexend", serif;
    font-weight: 400;
    font-size: 1.75rem;
}

.form-container > .form-box{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 1.4rem 0;
}

.form-box > .submit-btn-container{
    width: 100%;
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn-container > .submit{
    width: 15%;
    height: 100%;
    background: #007BFF;
    box-shadow: 10px 10px 30px rgba(47, 43, 67, 0.486);
    border-radius: 1rem;
    color: rgba(255, 255, 255);
    font-family: 'Lexend', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    margin: 0 auto;
    border: none;
    transition: transform 0.25s ease-in-out,
                color 0.25s ease-in-out,
                background-color 0.25s ease-in-out;
    cursor: pointer;
}

.submit:hover {
    transform: scale(1.075);
    color: #007BFF;
    background-color: rgba(255, 255, 255, 0.7);
}

.form-box > .input-container, .form-box > .slider-container, .form-box > .radio-container{
    width: 30%;
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: coral; */
}

.radio-container{
    gap: 1rem;
}

.input-container > .input{
    width: 80%;
    height: 100%;
    padding: 0 1.5rem;
    background: rgba(255, 255, 255, 0.7);
    /* Focus ring */
    box-shadow: 0px 0px 0px 5px #33a2fda9;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-family: 'Lexend', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    color: rgba(47, 43, 67, 0.6);
    transition: 0.5s;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

label{
    font-family: 'Lexend', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    color: rgba(47, 43, 67);
}

.slider-container > p{
    font-family: 'Lexend', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    color: rgba(47, 43, 67);
}

input[type=checkbox]{
    opacity: 0;
    width: 0;
    height: 0;
}

.switch{
    position: relative;
    height: 60%;
    width: 18%;
}

.switch-slider{
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.25rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 80%;
    aspect-ratio: 1;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input[type=checkbox]:checked + .switch-slider {
    background-color: #007BFF;
}

input[type=checkbox]:checked + .switch-slider {
    box-shadow: 0 0 10px #007BFF;
}

input[type=checkbox]:checked + .switch-slider:before {
    -webkit-transform: translateX(1.82rem);
    -ms-transform: translateX(1.82rem);
    transform: translateX(1.82rem);
}

/* Rounded sliders */
.slider-round {
    border-radius: 0.9rem;
}

.slider-round:before {
    border-radius: 50%;
}

.input:focus {
    box-shadow: 0px 0px 2px 7px hsla(211, 100%, 50%, 0.7);
}

:is(#form-container3, #form-container4) > .form-box > div:not(.submit-btn-container){
    width: 50%;
}

input[type=number]:is(.input3, .input4){
    width: 60%;
}

:is(#form-container3, #form-container4) .switch{
    width: 10.8%;
}

#form-container5 > .form-box > div:nth-child(n+4):nth-child(-n+7){
    width: 50%;
}

#form-container5 > .form-box > div:nth-child(n+4):nth-child(-n+6) > .switch{
    width: 10.8%;
}

.display {
    z-index: -2;
    opacity: 0;
}

.no-display{
    display: none;
    color: #007BFF;
    color: #0056D2;
    color: #EAF4FF;
    color: #33A1FD;
    color: #F8F9FA
}

.fade-out{
    opacity: 0;
    transition: all 1s;
}

.fade-out:hover{
    cursor: default;
}

@keyframes pulse {
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes movement {
    from{
        margin-left: 100%;
        opacity: 0;
        background: none;
    }
    100%{
        margin-left: 0;
        background: rgba(0, 128, 128, 0.221);
        opacity: 1;
    }
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

